@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:  [#F0F0F0];
  --foreground: [#171717];
  --main_color_text: #8977F3;
  --bg_slider_card: #FAFAFA;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
